html {
	scroll-behavior: smooth;
}

body {
	background-color: #edece8;
	color: #006ef5;
	margin: 0px;
}

h1 {
	font-family: sans-serif;
	font-size: 2.125rem;
}

p {
  font-family: serif;
  font-size: 1.3125rem;
}

a {
	font-weight: bold;
	color: #006ef5;
}

a:hover,
a:focus {
   font-style: italic;
}

a:visited {
	color: #006ef5;
}

footer p {
	margin-top: 4px;
	margin-bottom: 4px;
}

ul {
	font-size: 1.3125rem;
	list-style-type: none;
	margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
  width: 100%;
	padding: 16px;
  display: flex;
	grid-column-gap: 8px;
	justify-content: end;
	box-sizing: border-box;
}


.de {
	font-style: italic;
}

.active-link:hover {
	font-style: normal;
}

.inactive-link {
	text-decoration: none;
	font-weight: normal;
}

.bullet {
	padding-left: 12px;
	padding-right: 12px;
}


/* mobile styles: under 560 */
@media only screen and (max-width: 560px) {
	main {
		margin-top: 32px;
		margin-left: 8%;
		margin-bottom: 32px;
		margin-right: 8%;
		width: auto;
	}

	main section {
		padding-bottom: 16px;
	}

	footer {
		margin-left: 8%;
		margin-bottom: 32px;
		margin-right: 8%;
		width: auto;
	}

	h1 {
		font-size: 1.625rem;
	}
}

/*small tablet styles: 560-768 */
@media only screen and (min-width: 560px) {
	main {
		margin-top: 32px;
		margin-left: 10%;
		margin-bottom: 32px;
		margin-right: 10%;
		width: auto;
	}

	main section {
		padding-bottom: 40px;
	}

	footer {
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom: 32px;
		width: auto;
	}
}

/*large tablet styles: 768-960 */
@media only screen and (min-width: 768px) {
	main {
		margin-top: 32px;
		margin-left: 16%;
		margin-bottom: 32px;
		margin-right: 16%;
		width: auto;
	}

	main section {
		padding-bottom: 40px;
	}

	footer {
		margin-right: 16%;
		margin-left: 16%;
		margin-bottom: 32px;
		width: auto;
	}
}

/* desktop styles: 960+ */
@media only screen and (min-width: 960px) {
	main {
		margin-top: 32px;
		margin-left: auto;
		margin-bottom: 72px;
		margin-right: auto;
		width: 680px;
	}

	main section {
		padding-bottom: 40px;
	}

	footer {
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 32px;
		width: 680px;
	}
}
